<h1> Welcome, <%= @vendor.name %>! Your unique ID number is <%= @vendor.id %>. Please record your ID for future login.</h1>

<%= link_to "Edit vendor", edit_vendor_path(@vendor.id) %> <!-- vendor? vendors? -->
<br>
<a href="/vendor/<%=@vendor.id%>/destroy_landing">Delete vendor</a>

<hr>

<%= link_to "Add product", add_product_path(@vendor.id) %>
<br>
<a href="/product/<%=@vendor.id%>/product_list">View all products</a>

<hr>

<%= link_to "Add market", add_market_path(@vendor.id) %>
<br>
<%= link_to "Edit market", edit_market_path(@vendor.id) %>
