<h1><b> Welcome, <%= @vendor.name %>!</b> </h1>
<p><b>Your unique ID number is <%= @vendor.id %>. Please record your ID for future login.</b></p>
<hr>
<ul class="main_menu">
  <li>Vendor options 
    <br>
    <%= link_to "Edit vendor", edit_vendor_path(@vendor.id) %> 
    <br>
    <a href="/vendor/<%=@vendor.id%>/destroy_landing">Delete vendor</a>
  </li>
  <li>Product options
    <br>
    <%= link_to "Add product", add_product_path(@vendor.id) %>
    <br>
    <a href="/product/<%=@vendor.id%>/product_list">View all products</a>
  </li>
  <li>Market options
    <br>
    <%= link_to "Add market", add_market_path(@vendor.id) %>
    <br>
    <%= link_to "Edit market", edit_market_path(@vendor.id) %>
  </li>
</ul>
<hr>

<form action = "<%= end_session_path %>" method= "POST">
  <input type = "hidden" name="_method" value = "PUT">
  <input type = "submit" value = "Log out">
</form>


